<% include ../partials/header %>

<h1>This is the show template</h1>

<p><%= restaurant.name %></p>

<img src="<%= restaurant.image %>">

<p><%= restaurant.description %></p>

<p>
	<a class="btn btn-success" href="/restaurants/<%= restaurant._id %>/comments/new">Add New Comment</a>
</p>

<% restaurant.comments.forEach(function(comment) { %>
	<p>
		<strong><%= comment.author %></strong> - <%= comment.text %>
	</p>
<% }) %>

<% include ../partials/footer %>